*{  
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


html, body{
    padding: 0;
    margin: 100;
    margin-top: 30px;
}

body{
    font-family: 'Russo One', sans-serif;
    font-weight: 500;
}
button{
    font-family: 'Russo One', sans-serif;
    font-weight: 500;
}
p.footer-text{
    display: flex;
    margin:100;
    text-decoration: none;
    color: rgb(100, 172, 41);
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
a.love-button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    display: flex;
    margin:100;
    text-decoration: none;
    color: black;
    align-items: center;
    justify-content: space-around;
    text-align: center;

}
header{
    display: flex;
    width: 90%;
    margin:auto;
    height:10vh;
    align-items: center;

}
.logo-container,
.nav-links,
.cart{
    display: flex;
    margin:auto;
    height:10vh;
    align-items: center;
}
.logo-container{
    flex: 1;
    height:1500px;
    width: 10px;

}
.logo{
    font-weight: 400;
    margin:5px;

}
nav{
    flex: 200;

}
.nav-links{
    justify-content: space-around;
    list-style: none;
}
.nav-link{
    background-color:rgb(153, 223, 223);
    border:#2c8086;
    color:#000000;
    font-size: 18px;
    text-decoration: none;
    
}
.love-button{
    border: 5px solid rgb(153, 223, 223);
    background:rgb(32,178,170);
    color:rgb(0, 0, 0);
    width: 70px;
    height: 45px;
    cursor:pointer;
    font-size:15px;

}
.love-button a{
    border: 5px solid rgb(153, 223, 223);
    background:rgb(32,178,170);
    color:rgb(209, 44, 44);
    width: 70px;
    height: 45px;
    cursor:pointer;
    font-size:15px;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px,
    rgb(100, 172, 41) 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px,
    #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}
.cart{
    background-color:rgb(153, 223, 223);

    flex: 1;
    justify-content: flex-end;
}
.presentation{
    display: flex;
    width: 90%;
    margin:auto;
    min-height: 80vh;
    align-items: center;
}
.introduction{
    flex:1;
}
.intro-text h1{
    margin-top: -40px;
    font-size:44px;
    font-weight:500;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px,
    rgb(100, 172, 41) 0px 0px 20px, rgb(100, 172, 41) 0px 0px 30px, #FF2D95 0px 0px 40px,
    #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
    color: rgb(17, 85, 14);
    background: #FFFFFF;
}
.intro-text p{
    margin-top: 10px;
    font-size: 22px;
    color:rgb(17, 85, 14);
}
.intro-text h3{
    margin-top: 15px;
    font-size: 25px;
    color:rgb(100, 172, 41);
    font-family: 'Teko', sans-serif;
    font-weight: 200;
}

.cta{
    margin-top: 10px;
    padding:500px -100px 0px 50px;
    
}
.cta-linkedin{
    border: 5px solid yellowgreen;
    background:transparent;
    color:rgb(96, 133, 22);
    width: 150px;
    height: 50px;
    font-size:25px;
    font-feature-settings: "aalt";
    cursor:pointer;
    text-decoration: none;

}
.cta-github{
    border: 5px solid yellowgreen;
    background:yellowgreen;
    color:rgb(96, 133, 22);
    width: 370px;
    height: 150px;
    cursor:pointer;
    font-size:25px;
    font-feature-settings: "aalt";
    margin: 20px 20px 30px 30px;
    text-decoration: none;

}
.cover{

    flex:1;
    display: flex;
	justify-content: center;
    height: 60vh;
    
}
.presentation{
    display: flex;
    width: 90%;
    margin:auto;
    min-height: 80vh;
    align-items: center;
}
.cover img{

    height: 100%;
	filter: drop-shadow(0px 5px 3px black);
	animation: drop 1.5s ease;
}
@keyframes drop {
	0% {
		opacity: 0;
		transform: translateY(-80px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}
@media screen and (max-width: 1024px) {
	.presentation {
		flex-direction: column;
	}
	.introduction {
		margin-top: 5vh;
		text-align: center;
	}
	.intro-text h1 {
		font-size: 30px;
	}
	.intro-text p {
		font-size: 18px;
	}
	.cta {
		padding: 10px 0px 0px 0px;
	}
	.laptop-select {
		bottom: 5%;
		right: 50%;
		width: 50%;
		transform: translate(50%, 5%);
	}
	.cover img {
		height: 80%;
	}

}
.s2{
    background-color: black;
    border-bottom: 1px solid var(--borderColor);
    overflow:auto;
}
.main-container{
    width: 1200px;
    margin: 0 auto;
}
.main-container.fullwidth {
    width: 100%;
  }
  
  .main-container.no-padding {
    padding-left: 0;
    padding-right: 0;
  }
  .about-wrapper{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	padding-bottom: 50px;
	padding-top: 50px;
	gap:100px;
}


#skills{
	display: flex;
	justify-content: space-evenly;
    background-color: var(--previewShadow);
    
}
.about-me h4 {
    margin-top: 15px;
    font-size: 25px;
    color:rgb(100, 172, 41);
    font-family: 'Teko', sans-serif;
    font-weight: 200;
}
.Social-links h3{
    margin-top: 15px;
    font-size: 25px;
    color:rgb(100, 172, 41);
    font-family: 'Teko', sans-serif;
    font-weight: 200;
}
.social-links{
	display: grid;
	align-content: center;
	text-align: center;
}
